@import './rem.scss';
@import './mixins.scss';
@import './keyframe.scss';
$white:#fff;
$grey9:#999;
$greyc:#ccc;
$grey6:#666;
$grey7:#777;
$grey74:#747474;
$grey8:#888;
$grey3:#333;
$grey4:#444;
$grey0:#000;
$greyd:#ddd;
$greyf2:#f2f2f2;
$greyf0:#f0f0f0;
$greyf8:#f8f8f8;
$greyf4:#f4f4f4;
$greyf6:#f6f6f6;
$grey62:#626b7b;
$grey86:#868e9c;
$blue:#3e83f4;
$img:#F5F7FA;
$red:red;
$black:#000;
$hei:#333;
$z:#9c8c74;
$filter:#1d2a38;
.globalTitle{
  font-size: px(16);
  margin-bottom: px(20);
  color:$grey3;
  /** font-family: 'ZCOOL XiaoWei', serif;*/
}
.moveTop{
  transform: translateY(0);
  opacity: 1;
  transition: all .2s linear;
}
.Component{
  opacity: 0;
  transform: translateY(10%);
}
